.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: left;
    margin-top: 90vh;
    /* padding: 20px; */
    position: absolute;
    left: 0%;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.authentication-form {
  max-width: 380px; /* Adjust the width as needed */
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  border: 1px groove #ccc;
  border-radius: 25px;
  background-color: #0C0C0D;
  position: relative;
  top: 40px + 0%;
  transform: translateY(0% + 40px);
  text-align: center;
}

.row {
  display: block; /* Display each form element in a single column */
  margin-bottom: 20px;
}


input {
  width: 90%; /* Make each input element take the full width of the form */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  display: block;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  width: 50%;

}

button:hover {
  background-color: #ccc;
}

.password-toggle {
  background: transparent;
  color: #007bff;
  border: none;
  padding: 5px;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.reset-password-hint {
  color:#ccc;
}


.search-bar{
  width: 10%;
}

header * {  
  display: inline;  
  }  

header li {  
  margin: 20px;  
}  